@tailwind base;
@tailwind components;
@tailwind utilities;

.animate_costume {
      animation: right infinite 3s;
}

@keyframes right {

      0%,
      100% {
            transform: translateX(6px);

            color: rgb(37 99 235 / 1);
      }

      50% {
            transform: translateX(-8px);
            color: black;
      }
}